/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?99161484');
  src: url('../font/fontello.eot?99161484#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?99161484') format('woff2'),
       url('../font/fontello.woff?99161484') format('woff'),
       url('../font/fontello.ttf?99161484') format('truetype'),
       url('../font/fontello.svg?99161484#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-check:before { content: '\e800'; }
.icon-camera:before { content: '\e802'; }

:root{
  --side-space: 25px;
  --grey-logo: #f3e9f1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* HEADER */

.header{
  width: 100%;
  background: var(--grey-logo);
  padding: 0 var(--side-space);
  
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo{
  background: center / cover url("../medias/logo_orinoco.png");
  display: block;
  width: 200px;
  height: 65px;
}

.cart-logo{
  text-decoration: none;
  color: black;
  position: relative;
}

.cart-logo::before{
  display: block;
  font-family: 'fontello';
  font-size: 2em;
}

.cart-logo.dotted::after{
  content: attr(data-cart);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  border-radius: 20px;
  background: lime;
  font-family: 'cousine';
  font-size: 1em;
  position: absolute;
  top: -10px;
  right: -15px;
}

.main{
  padding: 0 var(--side-space);
  padding-bottom: 75px;
  width: 100%;
}

.h1{
  margin: 30px 0;
  padding-left: 5px;
  
  font-family: 'cousine';
  font-weight: 400;
  
  width: 100%;
}

/* INDEX */

.index-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.index-item{
  display: flex;
  flex-direction: column;
  width: calc( 25% - ( ( 50px * 3 ) / 4 ) );
  gap: 15px;
}

.index-img-container{
  width: 100%;
}

.index-img-container:before{
  content: "";
}

.index-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.top-item{
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 5px;
  
  font-family: 'cousine';
  font-size: 1em;
  color: white;
}

.description{
  line-height: 1.5;
  font-family: 'cousine';
  font-size: 0.875em;
}

.button-item{
  padding: 5px;
  background: black;
  
  font-family: 'cousine';
  font-size: 0.875em;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

/* PRODUCT */

.h1-product{
  margin-top: 0;
}

.product-infos{
  display: flex;
  gap: 50px;
  font-family: 'cousine';
  margin-top: 30px;
}

.product-img-container{
  width: 50%;
}

.product-img{
  width: 100%;
}

.infos{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buying{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-item-add{
  padding: 5px 15px;
  border: 0;
  text-decoration: underline;
}

.option-name{
  font-size: 0.875em;
}

/* PANIER */

.main-cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.cart-container{
  margin-bottom: 50px;
  width: calc( 100% - 550px);
  
  position: relative;
  top: 0px;
}

.cart{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'cousine';
}

.cart-item-list{
  list-style-type: none;
}

.cart-item-checkbox{
  display: none;
}

.cart-item-container{
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-right: 25px;
  opacity: 0.5;
}

.cart-img-container{
  display: inline-block;
  height: 90px;
  width: 175px;
}

.cart-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-infos{
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
}

.cart-quantity{
  width: 100px;
}

.cart-label{
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.cart-item-checkbox + .cart-item-container .cart-label::before{
  opacity: 0;
  font-size: 2.5em;
  margin-top: -15px;
  margin-left: -2px;
  display: block;
  font-family: 'fontello';
}

.cart-item-checkbox:checked + .cart-item-container, .confirmed{
  opacity: 1;
}

.cart-item-checkbox:checked +  .cart-item-container .cart-label::before{
  opacity: 1;
}

.cmd-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'cousine';
  width: 500px;
}

.cmd-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background: whitesmoke;
  padding: 5px;
}

.cmd-info{
  display: flex;
  align-items: center;
}

.cmd-label{
  white-space: nowrap;
  margin-right: 10px;
  text-transform: uppercase;
}

.cmd-input{
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  font-family: 'cousine';
  font-weight: 700;
  font-size: 1em;
}

.cmd-submit{
  padding: 5px;
  font-family: 'cousine';
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 0;
  border: 0px solid black;
  background: black;
}

.sticker{
  transform: rotate(-15deg);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  left: 40%;
  font-family: 'cousine';
  background: lime;
  border-radius: 20px;
  padding: 15px;
}

.sticker-number{
  font-weight: 700;
}

/* CONFIRM */

.sticker-vendu{
  font-size: 1.5em;
  font-weight: 400;
}

.cmd-final{
  font-weight: 700;
}

/* ERREUR */

.error_msg{
  width: auto;
  display: inline-block;
  
  text-align: center;
  font-size: 1.5em;
  font-family: 'cousine';

  border: 1px solid black;
  border-radius: 20px;

  margin: 100px auto;
  padding: 15px;
}

/* FOOTER */

.footer{
  width: 100%;
  padding: 10px var(--side-space);
  display: flex;
  justify-content: space-between;
  background: #3d3a3d;
  color: white;
  align-self: flex-end;
  font-size: 0.875em;
  font-family: 'cousine';
}

.footer-left{
  display: flex;
}

.footer-left .footer-item{
  margin-right: 20px;
}

.footer-left .footer-item:last-child{
  margin-right: 0px;
}

.footer-item{
  color: white;
  text-decoration: none;
}

@media (max-width: 1279px) {

  select{
    padding: 7px;
  }

  input[type="number"], input[type="text"]{
    padding: 7px;
  }
  
  /* INDEX */
  .index-item{
    width: calc( 50% - ( 50px / 2 ) );
  }

  /* PRODUIT */

  /* CARTCONTENT */
  .main-cart{
    flex-direction: column;
  }

  .cart-container{
    width: 100%;
  }

  .cmd-form{
    width: 100%;
  }

  .cart-quantity{
    padding: 7px;
  }

  .cart-label{
    height: 33px;
    width: 33px;
  }

  .cart-item-checkbox + .cart-item-container .cart-label::before{
    font-size: 3em;
    margin-top: -22px;
  }

  .sticker{
    top: 75px;
  }
}

@media (max-width: 767px) {

  /* INDEX */
  .index-item{
    width: 100%;
  }

  /* PRODUCT */
  .h1-product{
    margin-bottom: 0;
  }

  .product-infos{
    flex-direction: column;
    gap: 25px;
  }

  .product-img-container{
    width: 100%;
  }

  .infos{
    width: 100%;
  }

  .button-item-add{
    padding: 10px 20px;
  }

  /* CARTCONTENT */
  .cart-img-container{
    width: 125px;
  }

  .cart-infos{
    flex-direction:column;
    gap: 10px;
  }

  .cart-quantity{
    width: 50px;
  }

  .sticker{
    left: 70px;
  }
}